Data/CollegeScoreCardDataDictionary.csv
Data/Most-Recent-Cohorts-Institution.csv
Stan/separate.exe
Stan/pooled.exe
Stan/hierarchical.exe
project-notebook.docx
Predicting Alumni Income Based on University Data.pptx
.RData
.RDataTmp
.Rhistory
Niko/